.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    height: 200px;
    width: 250px;
    cursor: pointer;
    border-radius: 10px;

}
.singleCard{
    width: 60vw;
    height: 50vh;
}
.button{
    opacity: 0;
}

.card:hover{
    .button{
        opacity: 1;
    }
    transform: scale(1.05);
}
.black{
    color: black;
}