.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}
.home-main{
  display: flex;
  justify-content: center;
}
.higlights-main{
  display: flex;
  justify-content: space-around;
}
center{
  margin: 10px;
}
.highlights-app{
  background-color: bisque;
}
.mobile-main{
  background-color: aliceblue;
}
.TVandAV{
  background-color: rgb(170, 125, 211);
}
.HomeAppliance{
  background-color: gray;
}
.HomeApp-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Home-card{
  margin: 10px;
}
.headings{
  display: flex;
  justify-content: center;
  padding:10px
}